absl-py 
addict==2.4.0

aiohttp 
apex

argon2-cffi 
astor 
asttokens 
astunparse==1.6.3

async-timeout==3.0.1

attrs 
autograd 
autograd-gamma 
#av 
backcall 
batchgenerators==0.24

bleach 
blinker==1.4

Bottleneck==1.3.2

brotlipy==0.7.0

cached-property 
cachetools 
certifi 
cffi 
chardet 
charset-normalizer 
click 
cloudpickle 
complexPyTorch==0.4

cryptography 
cycler 
cytoolz==0.11.0

dask 
debugpy 
decorator 
defusedxml 
dicom2nifti 
docker-pycreds==0.4.0

entrypoints==0.3

executing 
fastmri==0.2.0

fastrlock==0.8

fire 
flatbuffers 
fonttools==4.30.0

formulaic 
fsspec 
future==0.18.2

gast 
gin-config==0.2.1

gitdb==4.0.9

GitPython==3.1.27

google-auth 
google-auth-oauthlib 
google-pasta 
grpcio 
h5py 
idna 
imagecodecs 
imageio 
importlib-metadata 
interface-meta 
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
jedi 
Jinja2 
joblib==1.1.0

jsonschema 
jupyter==1.0.0

jupyter-client 
jupyter-console 
jupyter-core 
jupyterlab-pygments 
jupyterlab-widgets 
keras 
Keras-Preprocessing 
kiwisolver==1.4.0

lifelines 
linecache2==1.0.0

locket 
Markdown 
MarkupSafe 
matplotlib 
matplotlib-inline 
MedPy==0.4.0

mistune==0.8.4

mmcls==0.21.0

mmcv==1.4.6

mmdet==2.22.0

mmsegmentation==0.22.1

multidict 
 
munkres==1.1.4

nbclient 
nbconvert 
nbformat 
nest-asyncio 
networkx 
nibabel 
nnunet==1.7.0

notebook 
numexpr 
numpy 
oauthlib==3.1.0

olefile 
opencv-python==4.5.5.64

opt-einsum 
packaging 
pandas==1.4.2

pandocfilters 
parso 
partd 
pathtools==0.1.2

pexpect 
pickleshare 
Pillow==8.4.0

portpicker==1.3.1

prettytable==3.2.0

prometheus-client 
promise==2.3

prompt-toolkit 
protobuf==3.14.0

psutil==5.9.1

ptyprocess 
pure-eval 
pyasn1 
pyasn1-modules==0.2.8

pycocotools==2.0.4

pycparser 
pyDeprecate==0.3.1

pydicom 
Pygments 
PyJWT==1.7.1

pyOpenSSL 
pyparsing 
pyrsistent 
PySocks 
python-dateutil 
pytorch-lightning 
pytz==2021.3

PyWavelets 
PyYAML==5.4.1

pyzmq 
requests 
requests-oauthlib==1.3.0

rsa 
runstats==2.0.0

scikit-image 
scikit-learn==1.0.2

scipy 
Send2Trash 
sentencepiece==0.1.96

sentry-sdk==1.8.0

setproctitle==1.3.0

shortuuid==1.0.9

#SimpleITK==2.2.0rc1.post1

six 
sklearn==0.0

smmap==5.0.0

stack-data 
tabulate==0.8.9

tensorboard 
tensorboard-data-server 
tensorboard-plugin-wit

tensorflow 
tensorflow-estimator 
tensorflow-io-gcs-filesystem 
termcolor==1.1.0

terminado 
terminaltables==3.1.10

testpath 
threadpoolctl==3.1.0

tifffile 
toolz 
torch==1.10.1

torch-summary==1.4.5

torchmetrics 
torchtext

torchvision==0.11.2
torchsummary
tornado 
tqdm 
traceback2==1.4.0

traitlets 
typing-extensions 
unittest2==1.1.0

urllib3 
wandb==0.12.21

wcwidth 
webencodings==0.5.1

Werkzeug 
widgetsnbextension 
wrapt==1.12.1

yapf==0.32.0

yarl==1.5.1

zipp 
